<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../cssstyles/basicstyle.css">
    <style>
        img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>

    <div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">Поиск альбомов</h3>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введите название..." name="q" class="form-control" required="">
        <button type="submit" class="btn1 btn">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </form>
    <h1><a href="createalbum"> Добавить свой альбом </a></h1>
    {% if is_search %}
            <h1>Результаты поиска для {{ q }}:</h1>
            <div class="albums-container">
                {% for album in object_list %}
                    <div class="album-item">
                        <img src="{{ album.cover.url }}" alt="Обложка альбома">
                        <h2><a href="{% url 'album_detail' album.id %}">{{ album.name }}</a></h2>
                    </div>
                {% empty %}
                    <p>Ничего не найдено</p>
                {% endfor %}
            </div>
    {% else %}
        <h1>плейлисты для тебя:</h1>
        {% for playlist in playlists %}
                <img src="{{ playlist.cover.url }}" alt="image not found">
                <h1><a href="{% url 'listen_playlist' playlist.id %}">{{ playlist.name }}</a></h1>
        {% endfor %}
        {% for genre in genres %}
            <h1>{{ genre.name }} для тебя:</h1>
            {% for album in genre.album_genres.all %}
                <img src="{{ album.cover.url }}" alt="image not found">
                <h1><a href="{% url 'album_detail' album.id %}">{{ album.name }}</a></h1>
            {% endfor %}
        {% endfor %}
    {% endif %}
</body>
</html>